body.TT_pending {
	background-color: #323232;
	background-image: url(chrome-extension://__MSG_@@extension_id__/images/loading-text.png);
	background-repeat: no-repeat;
	background-position: center center;

	#aspnetForm {
		opacity: 0.1;
	}
}

#TT_dates {
	margin-bottom: 15px;
	h2 {
		margin: 3px 0;
	}
	label {
		float: none;
		padding-right: 20px;
	}
}

#ctl00_cphBody_upType {
	.SubTitle {
		display: none;
	}
}

table.month td.TT_incomplete_day {
	background-color: #fcf8e3;

	.day a {
		color: #8a6d3b;
	}
}

table.month td.TT_complete_day {
	background-color: #dff0d8;

	.day a {
		color: #3c763d;
	}
}